<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
    <div class="bg-white w-full p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
        <img src="../static/img/crd1.jpeg" alt="Coffee" class="w-full h-40 object-cover rounded-lg mb-4">
        <h3 class="text-2xl font-semibold text-[#6c4a2f] mb-2">Café Coffee</h3>
        <p class="text-sm text-[#6c4a2f] mb-2">Taste our freshly brewed coffee made from the best beans, carefully
            selected for you.</p>
        <p class="text-lg font-bold text-[#7e5e3d] mb-2">$4.99</p> <!-- قیمت -->
        <ul class="list-disc list-inside text-sm text-[#6c4a2f] mb-4">
            <li>100% Arabica beans</li>
            <li>Rich flavor</li>
            <li>12 oz. serving size</li>
        </ul>
        <button onclick="location.href='http://127.0.0.1:8000/order/'"
            class="bg-[#7e5e3d] text-white py-2 px-4 rounded-full hover:bg-[#b59472] transition-colors">Order</button>


    </div>

</div>